.fab {
  border-radius: 28px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
  display: block;
  height: 56px;
  min-width: 56px;
  position: fixed;
  bottom: 16px;
  right: 16px;

  &--primary {
    background: #6200ee;
    color: #fff;
  }

  svg {
    display: block;
    fill: currentColor;
    margin: auto;
  }
}