form {
  padding: 8px 16px 0;
  width: min-content;

  label {
    display: block;
    font-size: 14px;
    margin-bottom: 4px;
  }

  input {
    border: 1px solid #00000099;
    border-radius: 2px;
    font-family: inherit;
    font-size: inherit;
    margin-bottom: 16px;
    padding: 8px;
    width: 220px;
  }

  button {
    display: block;
    margin-left: 12px;
  }
}