.sync-bar {
  $base: &;

  align-items: center;
  background-color: #303f9f;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: .75em;
  position: relative;
  overflow: hidden;

  &__button {
    background: transparent;
    border: 0 none;
    color: inherit;
    cursor: pointer;
    font-weight: bold;
  }

  &__message {
    margin: 0;
  }

  &[aria-hidden="true"] {
    display: none;
  }

  &::before {
    content: '';
    display: block;
    background-image: linear-gradient(
      to right,
      transparent 0%,
      rgba(255, 255, 255, .3) 14%,
      rgba(255, 255, 255, .3) 16%,
      transparent 30%
    );
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    transform: translateX(-30%);
  }
  
  &--syncing {
    &::before {
      animation: syncing 2s infinite;
    }

    #{$base}__button {
      display: none;
    }
  }

  &--success {
    background-color: #2e7d32
  }

  &--error {
    background-color: #b71c1c;
  }
}

@keyframes syncing {
  to {
    transform: translateX(100%);
  }
}
