h1 {
	font-size: 24px;
	margin: 12px 0;
	padding-left: 8px;
}

button {
  background: transparent;
  border: 0 none;
  cursor: pointer;
  letter-spacing: 1.25px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
